
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$navy: #3b434a;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
@import url('https://fonts.googleapis.com/css?family=Muli:300|Muli:300|Noto+Serif+SC:300');

$bodyfont: 'Noto Serif SC', serif;
$headerfont: 'Muli', sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}